POSTGRES_DB=pesujo
POSTGRES_USER=pesujo
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_PORT=5432
ESTOQUE_POSTGRES_DB=estoque
ESTOQUE_POSTGRES_USER=estoque
ESTOQUE_POSTGRES_PASSWORD=troque-esta-senha
ESTOQUE_POSTGRES_PORT=5433
RABBITMQ_USER=pesujo
RABBITMQ_PASSWORD=troque-esta-senha
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
GRAFANA_ADMIN_PASSWORD=troque-esta-senha
FRONTEND_PORT=3000
