POSTGRES_DB=pesujo
POSTGRES_USER=pesujo
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_PORT=5432
ESTOQUE_POSTGRES_DB=estoque
ESTOQUE_POSTGRES_USER=estoque
ESTOQUE_POSTGRES_PASSWORD=troque-esta-senha
ESTOQUE_POSTGRES_PORT=5433
